/* elements */
body {
        background-color: lightslategray;
        padding-top: 15px;
}

a {
        margin-right: 50px;
        color: rgb(43, 165, 213)
}

a:hover {
        color: rgb(230, 197, 154);
}

main {
        margin-left: 16%;
        margin-right: 42px;
        margin-top: 50px;
        width: 80%;
}

img {
        height: 364px;
        width: 364px;
        padding-left: 75px;
}

p {
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 2.5px;
}

hr {
        height: 5px;
        background-color: darkgray;
        border-color: black;
        margin: 11px;
}

table,
td,
th,
tr {
        width: 85%;
        background-color: rgb(230, 197, 154);
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        border-collapse: collapse;
        border: 2px solid black;
}

/* Pagina basis */
.menu {
        background-color: rgb(0, 0, 91);
        font-family: Arial, Helvetica, sans-serif;
        color: lightgray;
        margin: -8px;
        text-align: center;
        position: fixed;
        top: 7px;
        width: 100%;
        margin-bottom: 5px;
        padding: 10px;
        outline-style: solid;
        outline-color: rgb(230, 197, 154);
        outline-width: 2px;
}

.activeNavButton {
        color: lightblue;
        outline-style: solid;
        outline-color: rgb(230, 197, 154);
        outline-width: 2px;
        padding: 5px;
}

footer {
        background-color: rgb(0, 0, 91);
        font-family: Arial, Helvetica, sans-serif;
        color: lightgray;
        text-align: center;
        margin-bottom: -16px;
        width: 100%;
        position: static;
        outline-style: solid;
        outline-color: rgb(230, 197, 154);
        outline-width: 2px;
}

.aside-index {
        background-color: rgb(0, 0, 91);
        color: lightgrey;
        font-size: 15px;
        position: fixed;
        width: 11%;
        height: 100%;
        margin-left: -8px;
        margin-right: 100%;
        max-width: 100%;
        margin-top: 85px;
}

aside {
        background-color: rgb(0, 0, 91);
        color: lightgrey;
        font-size: 15px;
        position: fixed;
        width: 11%;
        height: 100%;
        margin-left: -8px;
        margin-top: 17px;
        outline-style: solid;
        outline-color: rgb(230, 197, 154);
        outline-width: 2px;
}

/* Classes */

.img-home-code {
        height: 364px;
        width: 728px;
        padding-left: 0px;
}

.mainIndexElement {
        margin-top: 90px;
        width: 80%;
}

.border {
        outline-style: solid;
        outline-color: black;
        outline-width: 2px;
        background-color: rgb(230, 197, 154);
        padding: 5px;
}

.laadbalkkleur {
        color: blue;
        height: 25px;
        width: 500px;
}

iframe {
        width: 420;
        height: 315;
}

.flexbox {
        display: flex;
        flex-direction: column;
        padding: 5px;
}

.brandlogo {
        height: 40px;
        width: 40px;
        margin-left: 1565px;
        margin-top: -25px;
        position: fixed;
}

.brandlogo-index {
        height: 105px;
        width: 105px;
        margin-left: 1500px;
        margin-top: -25px;
        position: fixed;
}

/* buttons */
.navbutton {
        outline-style: solid;
        outline-color: rgb(230, 197, 154);
        outline-width: 2px;
        padding: 5px;
        background-color: rgb(0, 0, 91)
}

.blogFaqButtons:hover {
        color: black;
}

.linkbutton {
        color: white;
        outline-style: solid;
        outline-color: lightgray;
        outline-width: 2px;
        padding: 0.5px;
}