.menu {background-color: rgb(0, 0, 91);
        font-family: Arial, Helvetica, sans-serif;
        color: lightgray;
        margin: -8px;
        text-align:center;
         }
body {background-color:lightslategrey;}
a {margin-right: 50px;
   color:teal}
a:hover {color: blue;}
a:active {color:darkblue;}
main {font-size:25px;
      margin-left: 50px;
      margin-right: 42px}
    
