.menu {
        background-color: rgb(0, 0, 91);
        font-family: Arial, Helvetica, sans-serif;
        color: lightgray;
        margin: -8px;
        text-align: center;
        position: fixed;
        top: 7px;
        width: 100%;
        margin-bottom: 5px;
}

body {
        background-color: lightslategrey;
}

a {
        margin-right: 50px;
        color: teal
}

a:hover {
        color: blue;
}

main {
        margin-left: 16%;
        margin-right: 42px;
        margin-top: 50px;
        width: 80%;
}
img     {height: 364px;
        width: 364px;
        padding-left: 75px;}

.img {
        height: 364px;
        width: 728px;
        padding-left: 0px;
}


p {
        margin-top: 5px;
        margin-bottom: 5px;
}

.active {
        color: lightblue;
}

.aside {
        background-color: rgb(0, 0, 91);
        color: lightgrey;
        font-size: 15px;
        position: fixed;
        width: 15%;
        height: 100%;
        margin-left: -8px;
        margin-right: 100%;
        max-width: 100%;
        margin-top: -5px;
}

aside {
        background-color: rgb(0, 0, 91);
        color: lightgrey;
        font-size: 15px;
        position: fixed;
        width: 15%;
        height: 100%;
        margin-left: -8px;
        margin-top: -40px;
}

hr {
        height: 5px;
        background-color: darkgray;
        border-color: black;
}

.main {
        margin-top: 90px;
        width: 80%;
}

.border {
        outline-style: solid;
        outline-color: black;
        outline-width: 2px;
        background-color: rgb(230, 197, 154);
}

table,
th,
tr {
        width: 85%;
        border-collapse: collapse;
        border-color: black;
        border: 2px solid;
        background-color: rgb(230, 197, 154);
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 50px;
        text-align: center;
        
}

footer {
        background-color: rgb(0, 0, 91);
        font-family: Arial, Helvetica, sans-serif;
        color: lightgray;
        text-align: center;
        margin-bottom: -16px;
        width: 100%;
        position: static;
}